<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Easy Config Bundle{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/xiideaeasyconfig/css/easyconfig.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block xiidea_config_content %} {% endblock xiidea_config_content %}
        </div>
    </body>
</html>