<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        bootstrap="./Tests/bootstrap.php"
        colors="true"
        stopOnFailure="false"
        failOnWarning="false"
        failOnDeprecation="false"
>
    <!-- Test suites -->
    <testsuites>
        <testsuite name="XiideaEasyConfigBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <!-- Coverage configuration (PCOV compatible) -->
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./Controller</directory>
            <directory>./Exception</directory>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage-html"/>
            <text outputFile="build/logs/coverage.txt"/>
        </report>
    </coverage>
</phpunit>